.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 100px) 200px 200px;
  grid-template-rows: 100px;
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
  background: lightgreen;
  width: 600px;
}

.box1 {
  background-color: limegreen;
}

.box2 {
  background-color: lime;
}

.box3 {
  background-color: cyan;
  grid-column-start: 4;
  grid-row-start: 3;
}